extends ../layout

block content
  p This is the Weather Page
  |
  p This is additional content
  |
  p The temperature in #{city} is #{temp} degrees Fahrenheit.
  form
    .form-row
      .form-group.col-md-6
        label(for="city") City
        input.form-control#city(type="text" placeholder="Enter City")
